[Unit]
Description=Payment Service

[Service]
User=root
WorkingDirectory=/app
Environment=CART_HOST=172.31.93.212
Environment=CART_PORT=8080
Environment=USER_HOST=172.31.85.174
Environment=USER_PORT=8080
Environment=AMQP_HOST=172.31.93.38
Environment=AMQP_USER=roboshop
Environment=AMQP_PASS=roboshop123

ExecStart=/usr/local/bin/uwsgi --ini payment.ini
ExecStop=/bin/kill -9 $MAINPID
SyslogIdentifier=payment

[Install]
WantedBy=multi-user.target